#searchform {
   margin-bottom:10px;
}
.message {
 color: red;
 font-weight: bold;
}
.delete {
  cursor: pointer;
}
.playlists {
  padding-top:10px;
}
.mediadiv {
  margin-bottom:10px;
}
.searchprogress {
  max-width:20px;
}
.progress {
  background-color:transparent;
  margin-bottom:0px;
}
.searchprogress img {
  display:none;
  margin-left:-20px;
  margin-top:7px;
}
.searchbutton input {
  margin-left:-15px;
}
.searchbutton {
  min-width:80px;
  max-width:80px;
}

.box {
  box-shadow: 0 0 5px black;
  padding:10px;
  position:relative;
  margin-bottom:20px;
  margin-left:10px;
  margin-right:10px;
}
.hilite {
  background-color:#FFFFFF !important;
  color:#000000 !important;
}
.navmenu ul li {
  display:inline;
  border-width:0;
  background-color:transparent;
  margin-right:20px;
}
.jsdebug {
  background-color:white;
  border-width:1px;
  border-style:solid;
  border-color:black;
}
.spacer{
  float:left;
  /*background-color:#FFFF00;*/
  margin:0;
  padding:0;
}
.mycollapsed {
  display:none;
}
#avplay {
  width:100%;  
}
.delete {
  margin-bottom:4px;
  margin-right:5px;    
}
.b1 {
  float:left;
  margin:0;
  padding:0;
  font-weight: bold;
  background-color:#AAAAFF;
}
.b2 {
  margin:0;
  padding:0;
  margin-left:80px;
  color:#1010FF;
  background-color:#FF9999;
}
.ISNULL {
  padding:0;
  margin:0;
  margin-left:80px;
  color:#EE4422;
  background-color:#000055;
  font-weight: bold;
}
.name {
  width:100%;
  font-weight: bold;
  text-decoration: underline;
  margin:0;
  background-color:#0000FF;
  padding:0;
}
.key {
  width:100%;
  font-weight: bold;
  background-color:#55FFCC;
  margin:0;
  padding:0;
}
.panic {
  width:100%;
  font-weight: bold;
  background-color:#FF0000;
  margin:0;
  padding:0;
}
.b0 {
  width:100%;
  position:relative;
  margin:0;
  padding:0;
}
.getSafe {
  position:relative;
  overflow:auto;
  margin:0;
  padding:0;
}
.incGetSafe {
  position:relative;
  float:left;
  width:100%;
  height:92%;
  margin:0;
  background-color:#FFFFFF;
  padding:0;
  overflow:auto;
}
.dirList {
  overflow:auto;
}
.welcome {
  width:100%;
  height:15px;
  background-color:#DDDDDD;
  adding:0;
  margin:0;
}
.table-responsive {
  margin-top:10px;
  margin-bottom:10px;
}
.table-responsive td {
  min-width:20px !important;  
}
.nolink {
  text-decoration:none !important;
  cursor:default !important;
  color:black;
}
.filelink {
  text-decoration:none;
}
a.previousentry:link,a.previousentry:visited,a.previousentry:hover,a.previousentry:active,a.nextentry:link,a.nextentry:visited,a.nextentry:hover,a.nextentry:active {
  text-decoration:none;
}


.bodydiv {
  word-wrap:break-word;
  font-size:16px;
  padding:5px;
  margin:0;
}
body
{
    background-color:lightgrey;
    text-align:left;
    margin:0;
    padding:10px;
}

#previous, #next, #folder {
    display:none;
}

.prevlink {
    float:left;
}

.nextlink {
    float:right;
}

a.filelink:link,a.filelink:visited,a.filelink:hover,a.filelink:active,
a.folderlink:link, a.folderlink:visited, a.folderlink:hover, a.folderlink:active,
a.nextlink:link, a.nextlink:visited, a.nextlink:hover, a.nextlink:active,
a.prevlink:link, a.prevlink:visited, a.prevlink:hover, a.prevlink:active {
    color: #a91414;
    text-decoration: none;
}

.folderlink {
   position: absolute;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%);
}

.mediacontainer {
    overflow:hidden;
    position:relative;
}
.nolinkcontainer {
    white-space:nowrap;
}
.nolinkcontainer,
.namecontainer {
    width:100%;
    padding:3px;
}

.namecontainer:hover {
    background:#84414138;
    
}

.pdf-page-canvas {
    width:100%;
    position:relative;
}

.navlinks {
    width:100%;
    padding-left:15px;
    padding-right:15px;
    height:26px;
    position:relative;    
    margin-bottom:10px;
}

.filelink,
.prevlink,
.nextlink,
.folderlink { 
    padding:2px 4px 2px 4px;
    border: 1px solid transparent;
    border-radius:3px;
}


.filelink:focus,
.prevlink:focus,
.nextlink:focus,
.folderlink:focus,
.filelink:hover,
.prevlink:hover,
.nextlink:hover,
.folderlink:hover {
    background:#bbb7b7;
    border: 1px solid grey;
    box-shadow: 2px 2px 5px #505050;
}

.copybutton {
    width:22px;
    height:22px;
    cursor:pointer;
    margin-left:10px;
}